
.item-wrapper{
    display: flex;
    margin-top: 2%;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.add-to-cart-btn{
    border: black 1px solid;
    color: white;
    min-width: 100px;
    font-size: medium;
    font-weight: bold;
    background-color: #ff4d00;
    border-radius: 200px;
}
.item{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-width: 20%;
    max-width: 20%;
    margin-bottom: 1.5%;

}

img{
    height: auto;
    width: 75%;
    min-width: 60%;


}

a {
   text-align: center;
}


.teszt{
    display: flex;
    align-self: center;
}
